<%= form_for @post, :html => { :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cartoon, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :cartoon, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :size_option, "Check if want to use the default size (500x500)", :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :size_option, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
